h1 {
    color:white;
    background-color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%larger;
}  

* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:white;
    background-color: red;
    text-align: right;
    text-emphasis-position: vertical;
    font-size: 75%larger;
} 

p {
    color: white;
    background-color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%larger;
}

h3 {
    color:white;
    background-color: green;
    text-align: right;
    font-size: 75%larger;
} 

h4 {
    color:white;
    background-color: blue;
    text-align: right;
    font-size: 75%larger;
} 

.left, .right {
  float: left;
  width: 50%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 50%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 992px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
