* {
  box-sizing: border-box;
}

html {
  background-color: darkslategrey;
  margin: 50px;
}

section {
  border: 1px lightgreen solid;
  width: 33.33%;
  float: left;
  position: relative;

  padding: 20px;
  padding-top: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightsalmon;
}
p {
  text-align: center;
}

h1 {
  color: lightblue;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 75px;
  font-family:Arial;
}

section > span {
  background-color: lightseagreen;
  border: 1px lightgreen solid;
}

span p.title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}

span {
  border: 1px solid lightslategray;
  position: absolute;
  width: 35%;
  height: 40%;
  top: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  section{
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section.first {
    width: 50%;
  }

  section.second {
    width: 50%;
  }
  section.third {
    width: 100%;
  }
}

@media (min-width: 767px) {
  section {
    width: 100%;
  }
}

